# Example .env file, fill in REQUIRED fields and rename the file to .env

# Define ports for the service to connect to your machine
DATABASE_PORT="" # Default: 5432
STORAGE_PORT="" # Default: 10000
BACKEND_PORT="" # Default: 8080
FRONTEND_PORT="" # Default: 3000 / 9000 when overriding using docker-compose.prod.yml
WEBSITE_PORT="" # Default: 3001 / 9001 when overriding using docker-compose.prod.yml

# Define the database settings
DATABASE_NAME="" # Default: postgres
DATABASE_USER="" # Default: postgres
DATABASE_PASSWORD="" # REQUIRED

# Define the email settings
EMAIL_SMTP_HOST="" # REQUIRED
EMAIL_TLS_PORT="" # Default: 587
EMAIL_ADDRESS="" # REQUIRED
EMAIL_PASSWORD="" # REQUIRED
EMAIL_FROM_NAME="" # Default: $EMAIL_ADDRESS

# Define owner account
OwnerUser__Email="" # REQUIRED
OwnerUser__Password="" # REQUIRED
OwnerUser__FirstName="" # Default: Owner
OwnerUser__LastName="" # Default: Owner

# URL for users to access the guides and docs
HELP_URL="" # Default: http://localhost:$WEBSITE_PORT

# URL for users to access the main site
HOST_URL="" # Default: http://localhost:$FRONTEND_PORT

# Time zone the server is in
NEXT_PUBLIC_TIMEZONE="" # Default: UTC

# URL for our frontend services to connect to the backend
API_URL="" # Default: http://backend:$BACKEND_PORT
