# Example .env file, fill in REQUIRED fields and rename the file to .env

# Define ports for the service to connect to your machine
DATABASE_PORT="" # Default: 5432
STORAGE_PORT="" # Default: 10000
BACKEND_PORT="" # Default: 8080
FRONTEND_PORT="" # Default: 3000
WEBSITE_PORT="" # Default: 3001

# Define the database settings
DATABASE_NAME="" # Default: postgres
DATABASE_USER="" # Default: postgres
DATABASE_PASSWORD="" # REQUIRED

# Define the email settings
EMAIL_SMTP_HOST="" # REQUIRED
EMAIL_TLS_PORT="" # Default: 587
EMAIL_ADDRESS="" # REQUIRED
EMAIL_PASSWORD="" # REQUIRED
EMAIL_FROM_NAME="" # Default: EMAIL_ADDRESS
