# This file is used to set environment variables for the development environment.
# So it is related to the docker-compose.dev.yml file.

# Environment
ASPNETCORE_ENVIRONMENT=""

# Frontend URL
HOST_URL=""

# Backend URL
API_URL=""

# The URL to the Guides/Docs page
HELP_URL=""


# Time zone where the server is in
NEXT_PUBLIC_TIMEZONE=""


# Postgres Database
CONNECTION_STRING=""
AZURE_STORAGE_CONNECTION_STRING=""

# AI API Key & Endpoint
# Embeddings
EMBEDDINGS_CLIENT_ENDPOINT=""
EMBEDDINGS_CLIENT_API_KEY=""

# OpenAI
AZURE_OPENAI_CLIENT_ENDPOINT=""
AZURE_OPENAI_CLIENT_API_KEY=""

# Experiments
CHAT_COMPLETIONS_CLIENT_ENDPOINT=""
CHAT_COMPLETIONS_CLIENT_API_KEY=""

# Document Intelligence
DOCUMENT_INTELLIGENCE_CLIENT_ENDPOINT=""
DOCUMENT_INTELLIGENCE_CLIENT_API_KEY=""