# This file is used to set environment variables for the development environment.
# So it is related to the docker-compose.dev.yml file.
# See EnvironmentConfig.cs for configurations.

# Environment
ASPNETCORE_ENVIRONMENT=""

# Frontend URL
HOST_URL=""

# Backend URL
API_URL=""

# The URL to the Guides/Docs page
HELP_URL=""


# Time zone where the server is in
NEXT_PUBLIC_TIMEZONE="Europe/Berlin"


# Postgres Database
CONNECTION_STRING=""
AZURE_STORAGE_CONNECTION_STRING=""

# Document Intelligence
DOCUMENT_INTELLIGENCE_CLIENT_ENDPOINT=""
DOCUMENT_INTELLIGENCE_CLIENT_API_KEY=""

# OpenAI
CHAT_DEPLOYMENT_NAME=""
AZURE_OPENAI_CLIENT_ENDPOINT=""
AZURE_OPENAI_CLIENT_API_KEY=""


# Embeddings
EMBEDDINGS_MODEL_NAME=""
EMBEDDINGS_CLIENT_ENDPOINT=""
EMBEDDINGS_CLIENT_API_KEY=""

# Vector DB
QDRANT_EMBEDDINGS_DIMENSIONS=""
QDRANT_COLLECTION_NAME=""
QDRANT_HOST=""      # qdrant in development (the name for the docker container)
QDRANT_API_KEY=""   # empty in development 
QDRANT_HTTPS=""     # false in development (http is used)
 
