.bgvp {
    background-color: #502379;
} /* Volt Purple */

.bgdvp {
    background-color: #6f2aaf;
} /* slightly lighter volt purple for hover effect */

.cvp {
    color: #502379;
} /* Volt Purple */

.bglg {
    background-color: #E5E5E5;
} /* Light Grey From Figma */

.clg {
    color: #E5E5E5;
} /* Light Grey From Figma */