.bgvp {
    background-color: #502379;
} /* Volt Purple */

.cvp {
    color: #502379;
} /* Volt Purple */

.bglg {
    background-color: #E5E5E5;
} /* Light Grey From Figma */

.clg {
    color: #E5E5E5;
} /* Light Grey From Figma */